{% case type %}
    {% when 'accordion' %}
        <div class="{{ class }}">
            <div class="accordion-title">
                <h3>{{ title }}</h3>
                <a href="#" class="icon-expandable"></a>
            </div>
            <div class="acordion-content">
                <p>{{ text_content }}</p>
            </div>
        </div>

    {% when "tabs" %}
        <div class="{{ class }}">
            <div class="accordion-title">
                <h3>{{ title }}</h3>
                <a href="#" class="icon-expandable"></a>
            </div>
            <div class="acordion-content">
                <p>{{ text_content }}</p>
            </div>
        </div>

{% endcase %}