{% liquid 
  assign name_label = 'templates.contact.form.name' | t
  assign emal_label = 'templates.contact.form.email' | t
  assign phone_label = 'templates.contact.form.phone' | t
  assign comment_label = 'templates.contact.form.comment' | t
  assign send_label = 'templates.contact.form.send' | t
%}

{% form 'contact', class: "my-contact" %}

  {%- if form.posted_successfully? -%}
    <div
      tabindex="-1"
      autofocus
      class="form__message form__message--success "
    >
      {% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}
    </div>
  {%- elsif form.errors -%}
    <div>
      <span
        role="alert"
        tabindex="-1"
        autofocus
        class="form__message form__message--error"
      >
        {% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}
      </span>
    </div>

    <ul class="list-errors" role="list">
      <li>
        <a>
          {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
        </a>
      </li>
    </ul>
  {%- endif -%}
  <span
    role="alert"
    tabindex="-1"
    autofocus
    class="form__message form__message--error error-user-exist"
  >
    {% render 'icon-error' %} 
    {{ 'newsletter.registered' | t }}
  </span>

  <input type="hidden" name="contact[tags]" value="newsletter, contact">

  {% render 'input'
    class: "form_textfield",
    type: "text",
    name: "contact[first_name]",
    id: "first-name",
    placeholder: name_label,
    required: true
  %}

  {% render 'input'
    class: "form_textfield",
    type: "email",
    name: "contact[email]",
    id: "email",
    placeholder: emal_label,
    required: true
  %}

  {% render 'input'
    class: "form_textfield",
    type: "number",
    name: "contact[phone]",
    id: "phone",
    placeholder: phone_label,
    required: false
  %}

  <div class="form_textfield request-type">
    <select
      id="request-type"
      name="contact[request_type]"
    > 
      {% for topic in topics %}
        <option>{{ topic }}</option>    
      {% endfor %}
    </select>
  </div>

  {% render 'input'
    class: "form_textfield",
    type: "textarea",
    name: "contact[message]",
    id: "message",
    placeholder: comment_label,
    required: true
  %}

  {%- comment -%}
  *--- EXTENDS ADDITIONAl INFO: Contact Method ---*

  <div class="form_question">
    <label class="form_question--answer">
      How do you want us to contact you?
    </label>

    {% render 'input'
      class: "form_radio-button",
      type: "radio",
      name: "contact[contact_method]",
      id: "email-method",
      value: "email",
      placeholder: "Email",
      required: false
    %}

    {% render 'input'
      class: "form_radio-button",
      type: "radio",
      name: "contact[contact_method]",
      id: "phone-method",
      value: "phone",
      placeholder: "Phone",
      required: false
    %}

    {% render 'input'
      class: "form_radio-button",
      type: "radio",
      name: "contact[contact_method]",
      id: "text-method",
      value: "text",
      placeholder: "Text message",
      required: false
    %}
  </div>

  * --- EXTENDS ADDITIONAl INFO: Contact time --- *

  <div class="form_question">
    <label class="form_question--answer">
      When is the best time to reach you?
    </label>

    {% render 'input'
      class: "form_checkbox toggle_checkbox",
      type: "checkbox",
      name: "contact[contact_time_1]",
      id: "contact[contact_time_1]",
      value: "morning"
      placeholder: "Morning",
      required: false
    %}

    {% render 'input'
      class: "form_checkbox toggle_checkbox",
      type: "checkbox",
      name: "contact[contact_time_2]",
      id: "contact[contact_time_2]",
      value: "afternoon"
      placeholder: "Afternoon",
      required: false
    %}

    {% render 'input'
      class: "form_checkbox toggle_checkbox",
      type: "checkbox",
      name: "contact[contact_time_3]",
      id: "contact[contact_time_3]",
      value: "evening"
      placeholder: "Evening",
      required: false
    %}
  </div>

  {%- endcomment -%}

  <hr>
  
  {% render 'input'
    class: "form_checkbox toggle_checkbox",
    type: "checkbox",
    name: "validation",
    id: "validation",
    placeholder: legal_text,
    required: true
  %}
  <span
    role="alert"
    tabindex="-1"
    autofocus
    class="form__message form__message--error error-check-js"
  >
    {% render 'icon-error' %} {{ 'templates.contact.form.error_checkbox' | t }}
  </span>

  {% render 'button'
    content: send_label,
    class: 'send-contact',
    type: 2,
    action: "submit"
  %}

{% endform %}