{% comment %}
  Renders product slider component
  
  Accepts:
  - Product: {object} Product object element
  - Direction: { int } 1 for horizontal direction or 2 for vertical direction of thumbnails

  NOTE: In <content> use className "swiper-slide" in the first item

  Usage:
  {% render 'product-media'
     product: product,
     direction: 1 Horizontal - 2 vertical
  %}
{% endcomment %}

{%-liquid
	assign option_radio = settings.variants_color

  if direction == 2
    assign slide_direction = "vertical-swipper-principal"
    assign thumbs_direction = "vertical-swipper-thumbs"
    assign swiper_direction = "vertical-swipper"
  else
    assign slide_direction = "horizontal-swipper-principal"
    assign thumbs_direction = "horizontal-swipper-thumbs"
  endif
-%}

<div class="main-product__slider {{ swiper_direction }}">

  <div class="swiper main-product__slider-principal {{ slide_direction }}" data-direction="{{ direction }}">
    <div class="swiper-wrapper">

      {% if product.options contains option_radio %}
        
        {% for image in product.media %} 

          {% if image.alt == product.selected_or_first_available_variant.option1 %}
            
            {% assign imgUrl = image | img_url: '800x' %}

            <div 
              class="main-product--product-image swiper-slide" 
              data-color="{{ image.alt }}" 
              data-active="false"
            >
              {% render "render-image"
                class: "product-image__image-principal",
                img_src: imgUrl,
                img: image,
                alt: image.alt,
                size: "165 330 535 750 1000",
                width: "600",
                height: "698"
              %}
            </div>

          {% endif %}
        {% endfor %}
      {% else %}
        {% for image in product.media %} 
            
            {% assign imgUrl = image | img_url: '800x' %}

            <div 
              class="main-product--product-image swiper-slide" 
              data-color="{{ image.alt }}" 
              data-active="false"
            >
              {% render "render-image"
                class: "product-image__image-principal",
                img_src: imgUrl,
                img: image,
                alt: image.alt,
                size: "165 330 535 750 1000",
                width: "600",
                height: "698"
              %}
            </div>

        {% endfor %}  
      {% endif %}
    </div>
    <div class="swiper-button swiper-button-next">
      {% render 'icon-arrow' %}
    </div>
    <div class="swiper-button swiper-button-prev">
      {% render 'icon-arrow' %}
    </div>
  </div>

  <div class="swiper main-product__slider-thumbs {{ thumbs_direction }} ">
    <div class="swiper-wrapper">
      {% if product.options contains option_radio %}
        {% for image in product.media %}  
        
          {% if image.alt == product.selected_or_first_available_variant.option1 %}
            {% assign imgUrl = image | img_url: '1500x' %}

            <div 
              class="image-elements__image-thumbs swiper-slide" 
              data-color="{{ image.alt }}"
            >

              <div class="image-elements__wrapper-thumbs">
                  {% render "render-image"
                    class: "",
                    img_src: imgUrl,
                    img: image,
                    alt: image.alt,
                    width: "115",
                    height: "115"
                  %}

              </div>
            </div>

          {% endif %}
        {% endfor %}
      {% else %}
        {% for image in product.media %}  

            {% assign imgUrl = image | img_url: '1500x' %}

            <div 
              class="image-elements__image-thumbs swiper-slide" 
              data-color="{{ image.alt }}"
            >

            <div class="image-elements__wrapper-thumbs">
                {% render "render-image"
                  class: "",
                  img_src: imgUrl,
                  img: image,
                  alt: image.alt,
                  width: "115",
                  height: "115"
                %}

            </div>
            </div>

        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>