<div class="width-account paddings-account customer">
  <div class="grid-order-layout">

    <div>
    <div class="title-addresses">
      <h1 class="addresses-title">{{ 'customer.addresses.title' | t }}</h1>
      <a class="retour-account underline green-panda-txt block-href" href="{{ routes.account_url }}">
       {{ 'customer.account.return' | t }}
      </a>
    </div>

    <div class="flex-button-addresses btn-addresses_primary" id="btn-new_addresse">
      <button
        data-account="new-addresse"
        class="edit-addresse button-item-nav button-green-suscription padding-x-button btn-add_address"
        data-event='new'
        id="new-addresse-button">
        {{ 'customer.addresses.add_new' | t }}
      </button>
    </div>
    <div data-account="new-addresse" id="containers-new-addresse" class="container-account containers-new-addresse sty-addrs-component hidden">
      <div class="information-customer-container">
        <h2 class="subtitle-principal paddings_subtitle">{{ 'customer.addresses.add_new' | t }}</h2>
        {% form 'customer_address', customer.new_address %}
          <div class="max-width-70-desk">
            <div class="grid-form-addresse">
              <div class="form-col">
                <input
                required
                type="text"
                class="input-grid width-customadd space-row"
                id="AddressFirstNameNew"
                name="address[first_name]"
                placeholder="{{ 'customer.addresses.first_name' | t }}"
                value="{{ form.first_name }}"
                autocomplete="given-name">

              <input
                required
                type="text"
                class="input-grid width-customadd space-row"
                id="AddressLastNameNew"
                name="address[last_name]"
                placeholder="{{ 'customer.addresses.last_name' | t }}"
                value="{{ form.last_name }}"
                autocomplete="family-name">
              </div>

              <input
                type="text"
                class="input-grid width-customadd"
                id="AddressCompanyNew"
                name="address[company]"
                placeholder="{{ 'customer.addresses.company' | t }}"
                value="{{ form.company }}"
                autocomplete="organization">

              <input
                required
                type="text"
                class="input-grid width-customadd"
                id="AddressAddress1New"
                name="address[address1]"
                placeholder="{{ 'customer.addresses.address1' | t }}"
                value="{{ form.address1 }}"
                autocomplete="street-address address-line1">

              <input
                type="text"
                class="input-grid width-customadd"
                id="AddressAddress2New"
                name="address[address2]"
                placeholder="{{ 'customer.addresses.address2' | t }}"
                value="{{ form.address2 }}"
                autocomplete="street-address address-line2">

              <input
                required
                type="text"
                class="input-grid width-customadd"
                id="AddressCityNew"
                name="address[city]"
                placeholder="{{ 'customer.addresses.city' | t }}"
                value="{{ form.city }}"
                autocomplete="address-level2">

              <select
                required
                id="AddressCountryNew"
                class="input-grid"
                name="address[country]"
                placeholder="{{ 'customer.addresses.country' | t }}"
                data-default="{{ form.country }}"
                autocomplete="country">{{ all_country_option_tags }}</select>

              <input
                required
                type="text"
                class="input-grid width-customadd"
                id="AddressZipNew"
                name="address[zip]"
                placeholder="{{ 'customer.addresses.zip' | t }}"
                value="{{ form.zip }}"
                autocapitalize="characters"
                autocomplete="postal-code">

              <input
                required
                type="tel"
                class="input-grid width-customadd"
                id="AddressPhoneNew"
                name="address[phone]"
                placeholder="{{ 'customer.addresses.phone' | t }}"
                value="{{ form.phone }}"
                autocomplete="phone">

              <div class="check-addresses">
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
              </div>

            </div>
          </div>

          <div class="buttons-actions">
            <input type="submit" class="btn-addresses_secundary btn-addresses_actions" value="{{ 'customer.addresses.add' | t }}">
            <a data-account="addresses" data-event='cancel-new' type="button" active="active" class="edit-addresse cancel-operation" id="addresses-button">
              {{ 'customer.addresses.cancel' | t }}
            </a>
          </div>

        {% endform %}
      </div>
      <hr>
    </div>
      {% paginate customer.addresses by 5 %}

        <div data-account="addresses" active="active" id="container-addresses" class="container-account container-addresses sty-addrs-component">


            <ul class='list-addresses font-12px'>
              <div id="container-addresses-list" class="information-customer-container">
                <div class="address-container">
                </div>
              {% for address in customer.addresses %}

                <div data-form="{{ address.id }}" class="address-container">

                  <div class='container-details-addresse'>
                    {% if address == customer.default_address %}
                    <div class="content-title_address">
                      <span class="title-forms">{{ 'customer.addresses.default' | t }}</span>
                    </div>
                    {% endif %}

                    {{ address | format_address }}
                  </div>

                  <div class="flex-button-addresses">

                      <button
                        type="button"
                        class="edit-addresse button-green-suscription btn-addresses_secundary"
                        data-event='edit'
                        data-form="{{ address.id }}">
                        {{ 'customer.addresses.edit' | t }}
                      </button>

                      <button
                        type="button"
                        class="btn-addresses_secundary address-delete"
                        data-target="{{ address.url }}"
                        data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                        {{ 'customer.addresses.delete' | t }}
                      </button>
                  </div>
                </div>
              {% endfor %}
            </ul>
          </div>

          <div id="container-addresses-forms" class="information-customer-container hidden">
            <ul class="non-list-style">
              {% for address in customer.addresses %}
                  <div data-form="{{ address.id }}" class="form-edit-addresse hidden">
                    {% form 'customer_address', address %}
                      <span class="title-forms title-edit">{{ 'customer.addresses.edit_address' | t }}</span>

                      <div class="max-width-70-desk">
                        <div class="grid-form-addresse">
                          <div class="form-col">
                            <input
                            required
                            type="text"
                            class="input-grid width-customadd space-row"
                            name="address[first_name]"
                            placeholder="{{ 'customer.addresses.first_name' | t }}"
                            value="{{ form.first_name }}"
                            autocomplete="given-name">

                          <input
                            required
                            type="text"
                            class="input-grid width-customadd space-row"
                            name="address[last_name]"
                            placeholder="{{ 'customer.addresses.last_name' | t }}"
                            value="{{ form.last_name }}"
                            autocomplete="family-name">
                          </div>

                          <input
                            type="text"
                            class="input-grid width-customadd"
                            name="address[company]"
                            placeholder="{{ 'customer.addresses.company' | t }}"
                            value="{{ form.company }}"
                            autocomplete="organization">

                          <input
                            required
                            type="text"
                            class="input-grid width-customadd"
                            name="address[address1]"
                            placeholder="{{ 'customer.addresses.address1' | t }}"
                            value="{{ form.address1 }}"
                            autocomplete="street-address address-line1">

                          <input
                            type="text"
                            class="input-grid width-customadd"
                            name="address[address2]"
                            placeholder="{{ 'customer.addresses.address2' | t }}"
                            value="{{ form.address2 }}"
                            autocomplete="street-address address-line2">

                          <input
                            required
                            type="text"
                            class="input-grid width-customadd"
                            name="address[city]"
                            placeholder="{{ 'customer.addresses.city' | t }}"
                            value="{{ form.city }}"
                            autocomplete="address-level2">

                          <select
                            required
                            class="input-grid"
                            name="address[country]"
                            placeholder="{{ 'customer.addresses.country' | t }}"
                            data-default="{{ form.country }}"
                            autocomplete="country">{{ all_country_option_tags }}</select>

                          <input
                            required
                            type="text"
                            class="input-grid width-customadd"
                            name="address[zip]"
                            placeholder="{{ 'customer.addresses.zip' | t }}"
                            value="{{ form.zip }}"
                            autocapitalize="characters"
                            autocomplete="postal-code">

                          <input
                            required
                            type="tel"
                            class="input-grid width-customadd"
                            name="address[phone]"
                            placeholder="{{ 'customer.addresses.phone' | t }}"
                            value="{{ form.phone }}"
                            autocomplete="phone">

                          <div class="check-addresses">
                            {{ form.set_as_default_checkbox }}
                            <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                          </div>

                        </div>
                      </div>

                      <div class="buttons-actions">
                        <input type="submit" class="btn-addresses_secundary btn-addresses_actions" value="{{ 'customer.addresses.update' | t }}">
                        <a href="" class="edit-addresse cancel-operation" data-event='cancel' data-form="{{ form.id }}">{{ 'customer.addresses.cancel' | t }}</a>
                      </div>
                    {% endform %}

                    <form class="address-delete-form"
                        method="post"
                        action="/account/addresses/{{ address.id }}"
                    >
                      <input type="hidden" name="_method" value="delete">
                    </form>

                    <script>
                      function initElement() {
                        document.querySelector(".address-delete-form").submit();
                      }
                    </script>

                  </div>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="margin-pagination-account">
          {%- if paginate.pages > 1 -%}
            {% include 'pagination-panda', paginate: paginate %}
          {%- endif -%}
        </div>
      {% endpaginate %}
    </div>

    <div>
    </div>

  </div>
{% render 'newsletter' %}
</div>
