<div class="customer wrapper">
  <h1 class="customer__title">
    {{ 'customer.account.title' | t }}
  </h1>

  <a
    href="{{ routes.account_url }}"
    title="{{ 'customer.account.return' | t }}"
    class="customer__nav-link"
  >
    {{ 'customer.account.return' | t }}
  </a>

  <div class="customer__layout">
    <div class="customer__2-3">
      <h2>
        {{ 'customer.order.title' | t: name: order.name }}
      </h2>
      <p class="customer__order-date">
        {%- assign order_date = order.created_at
          | time_tag: format: "date_at_time"
        -%}
        {{ 'customer.order.date_html' | t: date: order_date }}
      </p>
      </hr>
      <!-- eslint-disable max-len -->
      <div
        class="grid customer__order-list--header customer__order-list customer__order-list--detail"
      >
        <span>{{ "customer.order.product" | t }}</span>
        <span>{{ "customer.order.sku" | t }}</span>
        <span>{{ "customer.order.price" | t }}</span>
        <span>{{ "customer.order.quantity" | t }}</span>
        <span>{{ "customer.order.total" | t }}</span>
      </div>

      {%- for line_item in order.line_items -%}
        <div class="grid customer__order-list customer__order-list--detail">
          <div>
            <span class="ref__hidden">
              {{ 'customer.order.product' | t }}:
            </span>
            <span>
              {{ line_item.title }}
            </span>
          </div>

          <div>
            <span class="ref__hidden">
              {{ 'customer.order.sku' | t }}:
            </span>
            <span>
              {{ line_item.sku }}
            </span>
          </div>

          <div>
            <span class="ref__hidden">
              {{ 'customer.order.price' | t }}:
            </span>
            {%- if line_item.original_price != line_item.final_price or line_item.unit_price_measurement -%}
              <dl>
                {%- if line_item.original_price != line_item.final_price -%}
                  <dt>
                    <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                  </dt>
                  <dd class="regular-price">
                    <s>{{ line_item.original_price | money }}</s>
                  </dd>
                  <dt>
                    <span class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</span>
                  </dt>
                  <dd>
                    <span>{{ line_item.final_price | money }}</span>
                  </dd>
                {%- else -%}
                  <dt>
                    <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                  </dt>
                  <dd>
                    {{ line_item.original_price | money }}
                  </dd>
                {%- endif -%}
                {%- if line_item.unit_price_measurement -%}
                  <dt>
                    <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                  </dt>
                  <dd class="unit-price">
                    <span>
                      {%- capture unit_price_separator -%}
                        <span aria-hidden="true">/</span>
                        <span class="visually-hidden">{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                      {%- endcapture -%}
                      {%- capture unit_price_base_unit -%}
                        {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                          {{- line_item.unit_price_measurement.reference_value -}}
                        {%- endif -%}
                        {{ line_item.unit_price_measurement.reference_unit }}
                      {%- endcapture -%}
                      <span data-unit-price>{{ line_item.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}}
                    </span>
                  </dd>
                {%- endif -%}
              </dl>
            {%- else -%}
              <span>{{ line_item.final_price | money }}</span>
            {%- endif -%}
          </div>

          <div>
            <span class="ref__hidden">
              {{ 'customer.order.quantity' | t }}:
            </span>
            <span>
              {{ line_item.quantity }}
            </span>
          </div>

          <div>
            <span class="ref__hidden">
              {{ 'customer.order.total' | t }}:
            </span>
            {%- if line_item.original_line_price != line_item.final_line_price -%}
              <dl>
                <dt>
                  <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                </dt>
                <dd class="regular-price">
                  <s>{{ line_item.original_line_price | money }}</s>
                </dd>
                <dt>
                  <span class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</span>
                </dt>
                <dd>
                  <span>{{ line_item.final_line_price | money }}</span>
                </dd>
              </dl>
            {%- else -%}
              <span>
                {{ line_item.original_line_price | money }}
              </span>
            {%- endif -%}
          </div>
        </div>
      {% endfor %}

      <div class="customer__order-total">
        <span>{{ 'customer.order.subtotal' | t }}:</span>
        <span>
          {{ order.line_items_subtotal_price | money }}
        </span>
      </div>

      {% if order.shipping_methods.size > 0 %}
        <div class="customer__order-total">
          {%- for shipping_method in order.shipping_methods -%}
          <span>
            {{ 'customer.order.shipping' | t }} ({{ shipping_method.title }}):
          </span>
          <span>
            {{ shipping_method.price | money }}
          </span>
          {%- endfor -%}
        </div>
      {% endif %}

      <div class="customer__order-total">
        <span>{{ 'customer.order.total' | t }}</span>
        <span>
          {{ order.total_price | money }}
        </span>
      </div>
    </div>

    <div class="customer__1-3">
      <div class="customer__section-space">
        <h2>{{ 'customer.order.billing_address' | t }}</h2>
        <p>
          <strong>{{ 'customer.order.payment_status' | t }}:</strong>
          {{ order.financial_status_label }}
        </p>
        {{ order.billing_address | format_address }}
      </div>
      <div class="customer__section-space">
        <h2>{{ 'customer.order.shipping_address' | t }}</h2>
        <p>
          <strong>{{ 'customer.order.fulfillment_status' | t }}:</strong>
          {{ order.fulfillment_status_label }}
        </p>
        {{ order.shipping_address | format_address }}
      </div>
    </div>
  </div>
</div>
