<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    
    <link
      rel="canonical"
      href="{{ canonical_url }}"
    >
    <link
      rel="preconnect"
      href="https://cdn.shopify.com"
      crossorigin
    >

    <link
      rel="stylesheet"
      href="{{ 'theme.css' | asset_url }}"
    >

    <link
      rel="stylesheet"
      href="{{ 'password.css' | asset_url }}"
    >
    
    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | img_url: '32x32' }}"
      >
    {%- endif -%}

    <title>{{ shop.name }}</title>

    <meta
      name="description"
      content="{{ page_description | escape }}"
    >

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {% render 'color-variables' %}

    {%- unless settings.type_body_font.system? -%}
      <link
        rel="preload"
        as="font"
        href="{{ settings.type_body_font | font_url }}"
        type="font/woff2"
        crossorigin
      >
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link
        rel="preload" 
        as="font" 
        href="{{ settings.type_header_font | font_url }}" 
        type="font/woff2" 
        crossorigin
      >
    {%- endunless -%}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
  </head>

  <body>
    <main>
      {% section 'main-password' %}
      {{ content_for_layout }}
    </main>

    <script 
      src="{{ 'theme.js' | asset_url }}"
      defer="defer"
    ></script>

    <script 
      src="{{ 'password.js' | asset_url }}"
      defer="defer"
    ></script>

    <script
      src="{{ 'lazysizes.min.js' | asset_url }}"
      async="async"
    ></script>
  </body>
</html>
