<div class="error-page {{section.settings.layout-position}}">
    <div class="text404-title padding404-section">
      {%- if section.settings.main-message != blank -%}
      <h1 class="error-page__title">
        {{ section.settings.main-message }}
      </h1>
      {%- endif -%}
    </div>
    {%- if section.settings.background != blank -%}
    {% assign img_src = section.settings.background | img_url: '680x' %}
    {%- if section.settings.image_position != blank -%}
    {% assign image_404 = section.settings.image_position %}
    {%- endif -%}
    <div  class="padding404-section {{ image_404 }}">
      <img
        src="{{ img_src }}"
        height="100%"
        {%- if section.settings.image-size != blank -%}
        width={{ section.settings.image-size }}
        {%- endif -%}
      />
    </div>
    {%- endif -%}
    <div class="padding404-section">
      {%- if section.settings.page_text != blank -%}
      <p class="error-page__text">
        {{ section.settings.page_text }}
      </p>
      {%- endif -%}
    </div>
    <div class="btn-404 padding404-section">
      {%- if  section.settings.btn-url != blank -%}
      <a href="{{ section.settings.btn-url }}" class="error-page__btn">
        {%- endif -%}
        {%- if  section.settings.btn-text != blank -%}
        {% render 'button'
          class: "",
          content: section.settings.btn-text,
          type: 2
          action: "button"
        %}
        {%- endif -%}
      </a>
    </div>
</div>
{% schema %}
{
  "name": "404",
  "settings": [
    {
      "type": "text",
      "id": "main-message",
      "label": "Main error text",
      "default": "404"
    },
    {
      "type": "richtext",
      "id": "page_text",
      "label": "Page text",
      "default": "<p>It seems we can't find what you're looking for.</p>"
    },
    {
      "type": "text",
      "id": "btn-text",
      "label": "Button text",
      "default": "Homepage"
    },
    {
      "type": "url",
      "id": "btn-url",
      "label": "Url Button"
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "Background image"
    },
    {
      "type": "select",
      "id": "image-size",
      "label": "Image Size",
      "options": [
        {
          "value": "30%",
          "label": "Small"
        },
        {
          "value": "100%",
          "label": "Big"
        },
        {
          "value": "50%",
          "label": "Medium"
        }
      ]
    },
    {
      "type": "select",
      "id": "layout-position",
      "label": "Layout position",
      "options": [
        {
          "value": "error-page_center",
          "label": "Center"

        },
        {
          "value": "error-page_right",
          "label": "Right"
        },
        {
          "value": "error-page_left",
          "label": "Left"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Layout position",
      "options": [
        {
          "value": "",
          "label": "Default"
        },
        {
          "value": "img404-order_top",
          "label": "Top"
        },
        {
          "value": "img404-order_bottom",
          "label": "Bottom"
        }
      ]
    }

  ]
}
{% endschema %}
