{%-liquid
	assign price = product.selected_or_first_available_variant.price
	assign compare_at_price = product.selected_or_first_available_variant.compare_at_price
  assign available = product.selected_or_first_available_variant.available
  assign text_add = 'products.product.add_to_cart' | t
  -%}


{% render 'product-media'
  product: product,
  direction: 1
%}

<div class="main-product__detail">
  <h1>
    {{ product.title }}
  </h1>

  {% render 'price'
    compare_at_price: compare_at_price,
    price: price
  %}

  <input 
    type="hidden" 
    name="available" 
    value="{{ available }}"
  >
  <div 
    class="main-product__detail--available 
    {% if product.selected_or_first_available_variant.available == true %}
      hidden
    {% endif %}"
    >
      <p>{{ 'products.product.not_available' | t }}</p>        
  </div>

  <p>
    {{ product.description }}
  </p>
  <form 
    data-product="{{ product.id }}" 
    action="/cart/add"
  >

    {% render 'variants-form'
      product: product,
      option_radio: 'Color'
    %}

    {% render 'button'
      class: "btn-add-to-cart",
      content: text_add,
      type: 2
      action: "submit"
    %}

  </form>
</div>

{% schema %}
{
  "name": "Product page",
  "class": "main-product wrapper",
  "tag": "section"
}
{% endschema %}